body {
    background-color: grey;
    height: 1600px;
    font-family: "Bokor", system-ui;

}
.txt {
    height: 300px ;
    width: 300px;
    margin: auto;
}
img {
    border: 10px solid black;
    border-radius: 15px;
    height: 490pxpx;
    width: 490px;
}
.menu  {
    background-color: rgb(138, 110, 110);
}
ol {
    background-color: rgb(114, 3, 3);
    list-style: none;
    color: darkgray;
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.button:hover {
    color: rgb(43, 37, 37);
    transition: all 0.4s;
}
a:hover {
    color: rgb(43, 37, 37);
    transition: all 0.4s;
}
a {
    color: darkgray;
    text-decoration: none;
}
p {
    color: black;

}
.musicBox {
    width: 490px;
    height: 490px;
    border: 10px solid black;
}
.txt {
    height: 75;
    width: 75;
}
button{
    height: 500px;
    width: 500px;
}