body {
    background-image: url(https://img.freepik.com/free-vector/geometric-background_53876-115941.jpg);
    background-size: cover;
    height: 1600px;
    font-family: "Bokor", system-ui;

}
.txt {
    height: 200px ;
    width: 200px;
    margin: auto;
}
img {
    border: 10px solid black;
    border-radius: 15px;
    height: 700px;
    width: 700px;
}
.menu  {
    background-color: rgb(138, 110, 110);
}
ol {
    background-color: rgb(114, 3, 3);
    list-style: none;
    color: darkgray;
    display: flex;
    justify-content: space-around;
    width: 30%;
}
li {
    height: 125px;
    width: 90px;
    font-size: 50px;
}
.button:hover {
    color: rgb(43, 37, 37);
    transition: all 0.4s;
}
a:hover {
    color: rgb(43, 37, 37);
    transition: all 0.4s;
}
a {
    color: darkgray;
    text-decoration: none;
}
.musicBox {
    width: 560px;
    height: 315px;
    border: 1px solid black;
}
p {
    color: black;
    font-size: 75px;
}
h1 {
    font-size: 75px;
}
h2 {
    font-size: 75px;
}
h3 {
    font-size: 75px;
}
button{
    height: 500px;
    width: 500px;
}